* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #061328;
}

header {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    background-color: #061328;
}

.logo-container {
    width: 100px;
}

#logo {
    height: 50px;
}

header p a:hover {
    color: red;
}

#form {
    position: relative;
}

#search {
    border: none;
    width: 150px;
    height: 40px;
    padding: 0 2rem 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 30px;
    background-color: #0e2244;
    color: #345a96;
    outline: none;
}

#search-icon {
    color: #345a96;
    position: absolute;
    top: .74rem;
    right: .8rem;
}

#submit {
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

.image-container {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

.info-container {
    width: 100%;
    height: 40px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: white;
    background-color: #0e2244;
}

.score {
    color: #42848f;
    padding: 5px 10px;
    
    border-radius: 5px;
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: #0e2244;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    align-items: center;
}
.about-container p {
    color: #345a96;
    margin-right: .3rem;
}

.about-container p a {
    text-decoration: none;
    color: #345a96;
    font-size: 1.5rem;
}

.about-container p a:hover {
    color: red;
}