@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #061328;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: #061328;
}

header .logo-container img {
    width: 100px;
}

header #form {
    position: relative;
}

header #form #search {
    border: none;
    width: 50vw;
    max-width: 300px;
    height: 40px;
    padding: 0 2rem 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 30px;
    background-color: #0e2244;
    color: #345a96;
    outline: none;
}

::placeholder {
    color: inherit;
}

header #form #submit {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #345a96;
}

main {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container {
    width: 300px;
    height: 400px;
    box-shadow: 0 0 20px 0 rgba(52, 90, 150, 0.9);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    position: relative;
}

.image-container {
    width: 100%;
    height: 100%;
}

.image-container img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.overview-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    color: #345a96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
    opacity: 0;
}

.overview-container:hover {
    opacity: 1;
}

.overview-container p {
    font-size: .8rem;
    margin: .5rem 0;
    text-align: center;
}

.overview-container .score-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.overview-container .score-container #id {
    display: none;
}

.overview-container #check-it {
    cursor: pointer;
    font-family: inherit;
    padding: 0.2rem 1rem;
    color: #345a96;
    background-color: #0e2244;
    border: none;
    position: absolute;
    bottom: 1rem;
}

footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem 1rem;
    color: #345a96;
    background: #0e2244;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2rem;
}